pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.idea
*.iml
/classes
/checkouts
/.lein-*
/.nrepl-port
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*.log
*.swp
logs/
*.bat
.env
*.edn